Package: com.johnson.mail
Name: iOSREMailMarker
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: johnson
Author: johnson
Section: Tweaks
Version: 0.0.1-5
Installed-Size: 56
