Package: com.johnson.shieldingad
Name: 优酷广告屏蔽
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: 一句代码屏蔽优酷手机app的广告
Maintainer: 笑你妹c
Author: 笑你妹c
Section: Tweaks
Version: 0.0.1-143
Installed-Size: 136
