Package: com.johnson.lagou
Name: lagou
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Johnson
Author: Johnson
Section: Tweaks
Version: 0.0.1-26
Installed-Size: 136
