Package: com.naken.characountfornotes8
Name: 日记本计数
Depends: mobilesubstrate, firmware (>= 7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: 朕的第一个tweak, 哈哈!  记录Note的字数,并显示在标题上面
Maintainer: johnson
Author: johnson
Section: Tweaks
